@{
    Layout = "~/Views/Shared/_lightLayout.cshtml";
}



@Html.ActionLink("返回", "Index")
<p>
    提交数量：@ViewBag.Count
    成功数量：@ViewBag.SuccessCount
    失败数量：@ViewBag.FaultCount
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.DevExpress().Memo(control =>
     {
         control.Name = "List";
         control.Properties.Caption = "批量录入";
         control.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
         control.Width = Unit.Pixel(300);

         control.Height = 300;
         control.ControlStyle.VerticalAlign = VerticalAlign.Top;

         control.Properties.NullText = "公司 姓名 员工号 专业 比赛编号";


     }).GetHtml()

    @Html.DevExpress().Button(control =>
{
    control.Name = "submitbtn";
    control.Text = "提交";
    control.UseSubmitBehavior = true;
}).GetHtml()


}

<div>
    @Html.ActionLink("返回", "Index")
</div>

